[
  {
    "corsRuleName": "YourCorsRuleName",
    "allowedOrigins": [
      "https://example.com",
      "https://example.dev",
      "https://example.org"
    ],
    "allowedHeaders": ["*"],
    "allowedOperations": [
      "b2_download_file_by_id",
      "b2_download_file_by_name",
      "b2_upload_file",
      "b2_upload_part",
      "s3_get",
      "s3_put"
    ],
    "exposeHeaders": [
      "accept-ranges",
      "content-range",
      "etag",
      "x-bz-content-sha1"
    ],
    "maxAgeSeconds": 86400
  }
]
